<div class="row">
    <h3>Users</h3>

    <table>
      
      <thead>
        <tr>
          <th width="200">Username</th>
          <th width="200">Email</th>
          <th width="200">Registered</th>
          <th width="200">Role</th>
          <th width="200"></th>
          <th width="200"></th>
        </tr>
      </thead>

      <tbody>
      <% @users.each do |user| %>
        <tr>
          <td><%= link_to user.name, user %></td>
          <td><%= user.email %></td>
          <td><%= user.created_at.to_date %></td>
          <td><%= user.roles.first.name.titleize unless user.roles.first.nil? %></td>
          <td>
            <a data-toggle="modal" href="#role-options-<%= user.id %>" class="btn btn-mini" type="button">Change role</a>
            <%= render user %>
          </td>
          <td><%= link_to("Delete user", user_path(user), :data => { :confirm => "Are you sure?" }, :method => :delete, :class => 'btn btn-mini') unless user == current_user %></td>
        </tr>
      <% end %>
      </tbody>
    </table>

</div>

<div>
  <%= render 'layouts/google_analytics' %>
</div>
