<!-- Begin main Above the fold Header -->
<div class="full-row grey wrapper_signin">

	<div class="row">
	  <div class="large-4 medium-6 small-12 large-centered small-centered columns">
		
		<h2>Hello, Sign in</h2>
		<%= simple_form_for(resource, :as => resource_name, :url => session_path(resource_name), :html => {:class => 'form-vertical' }) do |f| %>
		  <%= f.input :email,  :label => false, :autofocus => true, :placeholder => "Email" %>
		  <%= f.input :password,  :label => false, :placeholder => "Password" %>
		  <%= f.input :remember_me, :class => "right inline", :as => :boolean if devise_mapping.rememberable? %>
		  <%= f.button :submit, "Login", :class => 'button success' %>
		<% end %>
		
		<div class="link_white">
			<%= render "devise/shared/links" %>
		</div>

	  </div>
	</div>

</div>
<div>
	<%= render 'layouts/google_analytics' %>
</div>