<!DOCTYPE html>
<!--[if IE 8 ]><html class="ie" xmlns="http://www.w3.org/1999/xhtml" xml:lang="en-US" lang="en-US"> <![endif]-->
<!--[if (gte IE 9)|!(IE)]><!--><html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en-US" lang="en-US"><!--<![endif]-->

<!--
=======================================================================================
 Pless Html by Pless-boards (http://www.plessboards.com)
 Michael Boitin
=======================================================================================
-->

  <head> 
    
    <%= csrf_meta_tags %>
     
  </head>

  <body class="<%= controller_name %> <%= action_name %>">
    
    <div id="header">
      <%= render 'layouts/header' %>
    </div> 

    <div id="container" class="container">
      <!-- Header
      ================================================== -->
      <header>
        <%= render 'layouts/navigation' %>
        <%= render 'layouts/messages' %>
      </header>
      <!-- Main
      ================================================== -->
      <div id="main" role="main">
          <%= yield %>
      </div>
      <!-- Footer
      ================================================== -->
      <footer>
        <%= render 'layouts/footer' %>
        <%= render 'layouts/google_analytics' %>
      </footer>
    </div>
  <!-- End of Body
  ================================================== -->
  </body>
</html>
